# Pastas de build e cache
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
.collab/

# VS Code e IDEs
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Outros arquivos desnecessários
*.apk
*.aab
*.bak
.DS_Store
*.uo
*.orig
*.coverage
*.coverageinfo
*.profdata

# Plugins Rider
Assets/Plugins/Editor/JetBrains*

# Meta files (mantenha os dos arquivos versionados)
!/[Aa]ssets/**/*.meta
!/[Pp]rojectSettings/**/*.meta
!/[Pp]ackages/**/*.meta
